*.sw*
*~
build/
build-mobile/
build-desktop/
bin/
dist/
node_modules/
vendor/
.idea/
.htaccess
.nvmrc
.DS_Store
src/assets/config.js
src/assets/redirect-desktop.js
src/assets/custom.css
src/common/whitelabel/whitelabel.less

e2e/api.conf.json
npm-debug.log

ops
ops/**/*
*.log
coverage/
